.login-wrapper {
    padding: 3vh;
    display: flex;
    flex-direction: space-between; 
    align-items: center;
    border-radius: 15px;
    background-color: rgba(37, 150, 190, 0.2);
}

.sign-up {
    border-radius: 25px;
    padding: 3vh;
    margin-right: 4vh;
}

.image-check-list {
    border-radius: 15px;
    margin: 1vh;
}

@media (max-width: 768px) {
    .login-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column-reverse; 
        background-color:rgba(37, 150, 190, 0);
        padding: 0vh;
    }

    .sign-up{
        border-radius: 25px;
        flex-direction: column;
        background-color: rgba(37, 150, 190, 0.2);
        padding: 0vh;
        padding-bottom: 4vh;
    }

    .sign-up,
    .image-check-list {
        display: flex;
        align-items: center;
        width: 90%; 
    }
}